.nav-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
    background-color: rgb(240, 240, 240);
    position: fixed;
}
.icon-container-nav{
display: flex;
align-items: center;
justify-content: space-between;
width: 34%;
margin-right: 20px;
}
.logo-name{
    font-family: roboto;
    font-size: 20px;
    font-weight: 500;
}
.total-cart{
    display: flex;
    align-items: center;
}
.total{
    font-family: roboto;
    font-size: 13px;
    background-color: black;
    color: white;
    width: 14px;
    text-align: center;
    border-radius: 8px;
    padding-left: 1px;
    padding-right: 1px;
    margin-left: -4px;
}
